.App{
    display: flex;
    position: absolute;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
}

.that{
    width: 10dvw;
    height: 20dvh;
    border: solid black;
}